@charset "UTF-8";
/*##########################    BASE     #############################################*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*##########################  VARIABLES  #############################################*/
/* Colors */
/* Colors */
/* FONTS */
/* FONTS */
/*###########################     BODY    ############################################*/
body {
  background: white;
  padding: 0;
  margin: 0;
  font-family: "Roboto"; }

/*###########################     BODY    ############################################*/
/*###########################     navbar    ############################################*/
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #F0F0DE;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(154, 157, 120, 0.5); }

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem; }
  .navbar-center__title span {
    color: #FCBE46; }

.nav-icon  {
  font-size: 1.5rem; }

.cart-btn {
  position: relative;
  cursor: pointer; }

.cart-items {
  position: absolute;
  top: -12px;
  right: -8px;
  background: #FCBE46;
  padding: 0 5px;
  border-radius: 40%;
  color: white; }

/*###########################     end navbar    ############################################*/
/*###########################     hero    ############################################*/
.hero {
  min-height: calc(100vh - 60px);
  background: url("https://images.pexels.com/photos/210463/pexels-photo-210463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s; }

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  animation-duration: 5s; }

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 3rem; }

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  background: #FCBE46;
  color: #222;
  border: 1px solid #FCBE46;
  cursor: pointer;
  font-weight: bold; }

.banner-btn:hover {
  background: transparent;
  color: #FCBE46; }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*###########################     end hero    ############################################*/
/*###########################     PRODUCTS    ############################################*/
.products {
  padding: 4rem 0; }

.product {
  position: relative;
  overflow: hidden; }

.section-title h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 5px; }

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem; }

.img-container  {
  position: relative;
  overflow: hidden; }

.bag-btn {
  position: absolute;
  top: 60%;
  right: 0%;
  background: #FCBE46;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 5px;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
  outline: none; }

.bag-btn:hover {
  color: white; }

.fa-shopping-cart {
  margin-right: 0.5rem; }

.img-container:hover .bag-btn {
  transform: translateX(-5%); }

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: all 0.3s linear; }

.img-container:hover .product-img {
  opacity: 0.5; }

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 5px;
  text-align: center; }

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: 5px;
  color: #FCBE46;
  text-align: center; }

/*###########################     END PRODUCTS    ############################################*/
/*###########################     CART    ############################################*/
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 0.3s linear;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden; }

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*overflow: scroll;*/
  background: white;
  z-index: 10;
  background: #e7e2dd;
  padding: 1.5rem;
  transition: all 0.3s linear;
  margin: 0;
  transform: translateX(100%); }

.showCart {
  transform: translateX(0); }

.transparentBcg {
  visibility: visible; }

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    width: 450px; } }

.close-cart {
  font-size: 1.7rem;
  cursor: pointer; }

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 2rem; }

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0; }

.cart-item img {
  width: 75px;
  height: 75px; }

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 5px; }

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: white; }

.item-amount {
  text-align: center; }

.remove-item:hover {
  color: grey;
  cursor: pointer; }

.fa-chevron-up,
.fa-chevron-down {
  color: #FCBE46;
  cursor: pointer; }

/*###########################    END CART ITEM    ############################################*/
.cart-footer {
  margin-top: 2rem;
  letter-spacing: 5px;
  text-align: center; }

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem; }

/*###########################     END CART    ############################################*/
